<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
</head> 
<body>
    <div class="home">
        <div class="link">
            <a href="/">Home</a>
        </div>
    </div>
    <div class="form-body">
        <div class="event-details">
            <div class="event-name">
                <p>Star Gazing</p>
            </div>
            <div class="login">
                <p>Log In</p>
            </div>
        </div>
        <div class="reg-form">
            <form action="/registered" method="post">
                <label class = "input-label" for = "" name= "contactNumber">Contact Number: </label><br>
                <input class = "input-bar" type="text" name="phoneNumber" id="" value=""><br>
                <input class = "submit" type="submit" value="Login">
            </form>
        </div>
    </div>
</body>
</html>